@model AreaAnalyserVer3.Models.School

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">

        <h4>@Html.DisplayFor(model => model.Name)</h4>
        @*<dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eircode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eircode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayName("Fee paying")
        </dt>

        @if (Model.FeePaying == 78)
        {
            <dd>
                No
            </dd>
        }
        else
        {
            <dd>
                Yes
            </dd>}

        <dt>
            @Html.DisplayName("Male pupils")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaleEnrol)
        </dd>

        <dt>
            @Html.DisplayName("Female pupils")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleEnrol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ethos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ethos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayName("Co-ordinates")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeoLocation.Latitude), @Html.DisplayFor(model => model.GeoLocation.Longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Arealyeser", "Index", new { controller = "Analysis", id = Model.TownId }, new { @class = "btn-small" })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
