@model AreaAnalyserVer3.ViewModels.Analysis





<div ng-controller="BusinessController" ng-init=init("@Model.Town.TownId") class="business-controller">
    <h2>Local Businesses {{townName}}</h2>   

    <div class="row">
        <div class="container">
            <form>
                <div class="form-group">
                    <div class="input-group col-sm-8">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>

                        <input type="text" class="form-control" placeholder="Search businesses" ng-model="bus">

                    </div>

                    <div class="input-group col-sm-4">
                        <label for="search">items per page:</label>
                        <input type="number" min="1" max="20" class="form-control" ng-model="pageSize">
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <br>
    <!-- items being paged -->
    <table id="pprTable" class="table table-striped">
        <thead>
            <tr>
                <th>
                    <select ng-model="cat" ng-options="entry.category as entry.category for entry in businesses | unique: 'category'">
                        <option value="">Select Category</option>
                    </select>
                </th>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    <button ng-click="resetFilter()">Reset</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="b in businesses| toArray:false  | filter:bus | filter:cat | itemsPerPage: pageSize | orderBy:sortType:sortBusinessReverse" current-page="currentPage">
                <td>{{b.category}}</td>
                <td>{{b.name}}</td>
                <td>{{b.phone}}</td>
            </tr>
        </tbody>

    </table>
</div>

<div ng-controller="OtherController" class="text-center">
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)">
        <ul class="pagination" ng-if="1 < pages.length || !autoHide">
            <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
                <a href="" ng-click="setCurrent(1)">&laquo;</a>
            </li>
            <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
                <a href="" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</a>
            </li>
            <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
                <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
            </li>

            <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
                <a href="" ng-click="setCurrent(pagination.current + 1)">&rsaquo;</a>
            </li>
            <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }">
                <a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
            </li>
        </ul>
    </dir-pagination-controls>
</div>

@*@if (Model.Businesses != null)
                {
        <tr>
            <th class="col-md-2">
                @Html.DisplayName("Category")
            </th>
            <th class="col-md-2">
                @Html.DisplayName("Name")
            </th>
            <th class="col-md-2">
                @Html.DisplayName("Address")
            </th>
            <th class="col-md-2">
                @Html.DisplayName("Phone")
            </th>
        </tr>

        foreach (var item in Model.Businesses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

            </tr>
        }
    }*@