@model AreaAnalyserVer3.ViewModels.Analysis

@section education{
    
   
    @Scripts.Render("~/Scripts/education.js")

    <script>
            var name = 'Hello';

            $(document).ready(function () {
                loadGraph();
                // $("h1").text(name);
            });
    </script>
}

<h1>Local Schools</h1>
<div>
    @if (Model.Schools != null)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Type")
                </th>
                <th>
                    @Html.DisplayName("Ethos")
                </th>
                <th>
                    @Html.DisplayName("Enrolled")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Schools)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ethos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                        <button onclick="refreshData(@item.SchoolId, '@item.Name')">View graph</button>
                        @Html.ActionLink("Details", "Details", new { id = item.SchoolId })
                        @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
            }
        </table>
    }
</div>
<h3 id="schoolName"></h3>
<div class="row" id="charts" hidden>
    <div id="bar" style="Height: 800px; background-color:#cbbfbf" class="col-md-9"></div>
    <div id="graph" style="Height: 200px; background-color:#365132" class="col-md-3"></div>
</div>