@model  AreaAnalyserVer3.ViewModels.Analysis

@{
    ViewBag.Title = "Arealysing";
}

@section Amcharts {
    @Scripts.Render("~/amcharts/amcharts.js")
    @Scripts.Render("~/amcharts/serial.js")
    @Scripts.Render("~/amcharts/pie.js")
    @Scripts.Render("~/amcharts/plugins/dataloader/dataloader.min.js")
    @Scripts.Render("~/Scripts/historyChart.js")
    @Scripts.Render("~/Scripts/education.js")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @Scripts.Render("~/Scripts/tablesorter/jquery.tablesorter.combined.min.js")
    @Scripts.Render("~/Scripts/pager/jquery.tablesorter.pager.js")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js"></script>
    @Scripts.Render("~/Scripts/angular/tableAngular.js")
    @Scripts.Render("~/Scripts/angular/dirPagination.js")
    @Scripts.Render("~/Scripts/angular/toArrayFilter.js")

}

@{int townId = Model.Town.TownId; double? latitude = Model.Town.GeoLocation.Latitude; double? longitude = Model.Town.GeoLocation.Longitude;}



<div class="wrapper" ng-app="myApp">
    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="column col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
            <ul class="nav" id="menu">
                <li class="text-left"><a data-toggle="pill" href="#Summary"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><span class="collapse in hidden-xs"></span>&nbsp;&nbsp;Overview</a></li>
                <li class="active"><a data-toggle="pill" href="#Map"><i class="fa fa-map-o fa-fw" aria-hidden="true"></i><span class="collapse in hidden-xs"></span>&nbsp;&nbsp;Map</a></li>
                <li><a data-toggle="pill" href="#Property"><i class="fa fa-building fa-fw"></i><span class="collapse in hidden-xs"></span>&nbsp;&nbsp;Property</a></li>
                @if (User.IsInRole("User") || User.IsInRole("Admin"))
                {
                    <li><a data-toggle="pill" href="#Crime"><i class="fa fa-balance-scale fa-fw"></i><span class="collapse in hidden-xs"></span>&nbsp;&nbsp;Crime</a></li>
                }
                else
                {
                    <li><a onclick="register()" href="#Crime"><i class="fa fa-balance-scale fa-fw"></i><span class="collapse in hidden-xs"></span>&nbsp;&nbsp;Crime</a></li>
                }
                <li><a data-toggle="pill" href="#Education"><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i><span class="collapse in hidden-xs"></span>&nbsp;&nbsp;Education</a></li>
                <li><a data-toggle="pill" href="#Businesses"><i class="fa fa-handshake-o fa-fw"></i><span class="collapse in hidden-xs"></span>&nbsp;&nbsp;Services</a></li>
                <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home" aria-hidden="true"></i><span class="collapse in hidden-xs"></span>&nbsp;&nbsp;Return to home</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li><a href="@Url.Action("Edit", "Town")"><i class="fa fa-edit" aria-hidden="true"></i><span class="collapse in hidden-xs"></span>&nbsp;&nbsp;Edit Town</a></li>
                }
                <li><a data-toggle="pill" href="#Survey"><i class="fa fa-smile-o fa-fw aria-hidden=" true""></i><span class="collapse in hidden-xs"></span>&nbsp;&nbsp;Feedback survey</a></li>
            </ul>
        </div>
        <!-- /sidebar -->
        <!-- main right col -->
        <div class="tab-content col-sm-9 col-xs-11" id="main">

            <div id="Survey" class="tab-pane fade">

                <script>(function(e,t,n,s){var o,c,r;e.SMCX=e.SMCX||[],t.getElementById(s)||(o=t.getElementsByTagName(n),c=o[o.length-1],r=t.createElement(n),r.type="text/javascript",r.async=!0,r.id=s,r.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/Hm7RFCDnzetmawCs2qTMA70yV5NNVNxhV15PqxdNrgUQVS5nBvLYO9m4Y68Jr6e_2B.js"].join(""),c.parentNode.insertBefore(r,c))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com/mp/customer-satisfaction-surveys /> Create your own user feedback survey </a>

            </div>

            <!-- Summary container -->
            <div id="Summary" class="tab-pane fade">
                
                    @Html.Partial("Overview")
                
            </div>
            <!-- /Summary container -->

            <!-- Map container -->
            <div id="Map" class="tab-pane fade in active">
                <div class="container-fluid">
                    <div class="form-inline panel">
                        <div>
                            <label for="filter">Filter by category:</label>
                            @Html.DropDownList("value", new SelectList(ViewBag.Categories, "Text", "Value"), "Filter category", new { @onchange = "filterMarkers(this.value);", @class = "form-control; col-md-6;" })
                        </div>
                    </div>
                    <div id="localMap" style="width: 600px; height: 600px; background-color: #23570e;">

                    </div>

                </div>
            </div>
            <!-- /Map container -->
            <!-- Property container -->
            <div id="Property" class="container-fluid tab-pane fade">
                <h2 id="category-header">Property Price Register&nbsp;&nbsp;<button class="btn btn-default" id="PprBtn" onclick="togglePpr()"><i class="fa fa-list fa-inverse"></i>&nbsp;&nbsp;<span class="text">View table</span></button></h2>
                <p class="small">- To search for property in another area please return to the homescreen</p>
                <div>
                    <div id="chartdiv" style="width: 100%; height: 600px"></div>
                </div>
                <div id="pprTable" class="container-fluid" hidden>
                    @Html.Partial("PriceRegister")
                </div>

            </div>
            <!-- /End Property container -->
            <!-- Crime container -->
            <div id="Crime" class="tab-pane fade">

                <h2 id="category-header">Crime Stats&nbsp;&nbsp;<button class="btn btn-default" id="crimeBtn" onclick="toggleCrime()"><span><i class="fa fa-list fa-inverse"></i></span></button></h2>
                <p class="small">- To search crime statistics in another area please return to the homescreen</p>
                <hr />
                <h5>Nearest station : <span>@Html.Raw(Model.NearestStation)</span></h5>

                <div id="chartcrime" style="width: 100%; height: 600px; "></div>

                <div id="crimeTable" hidden>
                    <table class="table table-striped">
                        @if (Model.Crimes != null)
            {
                            <tr>
                                <th class="col-md-2">
                                    @Html.DisplayName("Attempted murder/assaults")
                                </th>
                                <th class="col-md-2">
                                    @Html.DisplayName("Burglaries")
                                </th>
                                <th class="col-md-2">
                                    @Html.DisplayName("Damage")
                                </th>
                                <th class="col-md-2">
                                    @Html.DisplayName("Dangerous acts")
                                </th>
                                <th class="col-md-2">
                                    @Html.DisplayName("Drug offences")
                                </th>
                                <th class="col-md-2">
                                    @Html.DisplayName("Year")
                                </th>
                            </tr>

                            foreach (var item in Model.Crimes)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumAttemptedMurderAssault)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumBurglary)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumDamage)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumDangerousActs)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumDrugs)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Year)
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>

            </div>
            <!-- / Crime container -->
            <!-- Education partial -->
            <div id="Education" class="tab-pane fade">
                <h2 id="category-header">Local Schools</h2>
                <p class="small">- To search for schools in another area please return to the homescreen</p>
                <div id="schoolTable">
                    @Html.Partial("PrimarySchools")
                    @Html.Partial("PostPrimary")
                    <p class="small">* Gender: B = boys, G = Girls, M = Mixed</p>
                </div>

                <div id="feederGraph" hidden style="width: 100%">
                    @Html.Partial("Feeder")
                </div>

            </div>
            <!-- / Education partial -->
            <!-- Local Businesses partial -->
            <div id="Businesses" class="tab-pane fade">
                <h2 id="category-header">Local Businesses</h2>
                <p class="small">- To search for businesses in another area please return to the homescreen</p>
                <div class="container-fluid">

                    @Html.Partial("Businesses")

                </div>
            </div>
            <!-- / Local Businesses partial -->

        </div>
    </div>
</div>
</div>
@section map {
    <script>
        var name = '@Model.Town.Name';
        $
        $(document).ready(function () {
            generateCharts();
            loadGraph();
            $(".title").text(name);
        });
    </script>
}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeZsRxVhJ__8kmVandHXR7UvI4kvGRzgs&callback=initMap"
        type="text/javascript">
</script>

<script type="text/javascript">
    //declare a variable
    var townId = Number(@townId);
    var latitude = Number(@latitude);
    var longitude = Number(@longitude);

    $.ajax({
        async: false,
        type: "POST",
        dataType: "json",
        url: '@Url.Action("GetMarkers", "Analysis")' + '?Id=' + townId,
        data: '{}',
        success: function (result) {
            //get address from controller action.....
            markers = result.AddressResult;
        }

    });

</script>
