@model AreaAnalyserVer3.ViewModels.Analysis


<div>
    <h3 class="text-right">Post Primary Schools&nbsp;&nbsp;<button data-toggle="collapse" data-target="#postPrimary"><span><i class="fa fa-bars toggle-btn"></i></span></button></h3>
    
    <div id="postPrimary" class="collapse in">
        @if (Model.Schools != null)
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Type")
                    </th>
                    <th>
                        @Html.DisplayName("Ethos")
                    </th>
                    <th>
                        @Html.DisplayName("Enrolled")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Schools)
                {
                    if (item.Level == "post")
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ethos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                            <button onclick="refreshData(@item.SchoolId, '@item.Name', true)"><i class="fa fa-university toggle-btn"></i></button>
                            @*<a href="@Html.ActionLink(" ", "Details", new { id = item.SchoolId })">
                                <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                            </a>*@
                            @Html.ActionLink("Details", "Details", new { id = item.SchoolId })
                            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                        }
                    }
                </table>
                }
            </div>
        </div>


        
