@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1>Welcome to the Arealyser</h1>
    <p class="lead">Use the arealyser to research and analyse your chosen area.</p>
    @*<div class="row">
        @using (Html.BeginForm())
            {
            <div class="col-md-4">@Html.DropDownList("County", (SelectList)ViewBag.County, "Choose county...", new { @class = "form-control" })</div>
            <div class="col-md-4">@Html.DropDownList("TownID", (SelectList)ViewBag.TownID, new { @class = "form-control" })</div>
            <br />
                <input type="submit" value="Arealyse" />
        }
    </div>*@
    <div id="divConfirmDialog" title="Arealyser">
     
    </div>
    <div id="selectMap" style="width: 800px; height: 800px">
    </div>
</div>



<script type="text/javascript">
    // cascading dropdown list for towns by county
    $("#County").change(function () {
        $("#TownID").empty();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTowns")',
            dataType: 'json',
            data: { county: $("#County").val() },
            success: function (townList) {

                $.each(townList, function (i, locale) {
                    $("#TownID").append('<option value ="'
                    + locale.TownId + '">'
                        + locale.Name + ' </option>');
                });
            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });
        return false;
    })


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeZsRxVhJ__8kmVandHXR7UvI4kvGRzgs&callback=initMap"
        type="text/javascript"></script>
@*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>*@
<script type="text/javascript">
    function initMap() {
        var myLatLong = { lat: 53.3498, lng: -6.2603 };
        var mapOptions = {
            center: myLatLong,
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var latlngbounds = new google.maps.LatLngBounds(new google.maps.LatLng(54.668922, -7.0100274), new google.maps.LatLng(55.121921664, -6.5620904));
        var map = new google.maps.Map(document.getElementById("selectMap"), mapOptions);

        //google.maps.event.addListener(map, 'click', function (e) {
        //    // alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
        //    myFunction(e);
        //    //$('#divConfirmDialog').dialog('open');
        //});

        var marker = new google.maps.Marker({
            position: myLatLong,
            map: map,
            title: 'Click to arealyse'
        });

        marker.addListener('click', function () {
            alert("You clicked me!!")
        });

        //$('#divConfirmDialog').dialog({
        //    dialogClass: 'dialogShadow',
        //    resizable: false,
        //    height: 100,
        //    autoOpen: false,
        //    modal: true,
        //    buttons: {
        //        "Continue": function () {
        //            findId();
        //            $(this).dialog("close");
        //        },
        //        "Back": function () {
        //            $(this).dialog("close");
        //        }
        //    }
        //});
    }

    function myFunction(e) {
        var txt;
        var lat = e.latLng.lat();
        var lng = e.latLng.lng();

            $.ajax({
                    type: "GET",
                    url: '@Url.Action("FindNearestTownId", "Analysis")',
                    contentType: "application/json; charset=utf-8",
                    data: { lat: e.latLng.lat(), lng: e.latLng.lng() },
                    dataType: "json",
                    success: function (Redirect) {
                        // alert(Redirect.to)
                        window.location = Redirect.url;
                    },
                    error: function () {
                        alert('error happened');
                    }
                });
       
        
        @*var r = confirm("This the confirm box.\nLatitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
        if (r == true) {
            txt = "You pressed OK!";
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("FindNearestTownId", "Analysis")',
                    contentType: "application/json; charset=utf-8",
                    data: { lat: e.latLng.lat(), lng: e.latLng.lng() },
                    dataType: "json",
                    success: function (Redirect) {
                        alert(Redirect.to)
                        window.location = Redirect.url;
                    },
                    error: function () {
                        alert('error happened');
                    }
                });
        } else {
            txt = "You pressed Cancel!";
        }
        document.getElementById("demo").innerHTML = txt;*@
    }
</script>







