@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1>Welcome to the Arealyser</h1>
    <p class="lead">Use the arealyser to research and analyse your chosen area.</p>
    @*<div class="row">
            @using (Html.BeginForm())
                {
                <div class="col-md-4">@Html.DropDownList("County", (SelectList)ViewBag.County, "Choose county...", new { @class = "form-control" })</div>
                <div class="col-md-4">@Html.DropDownList("TownID", (SelectList)ViewBag.TownID, new { @class = "form-control" })</div>
                <br />
                    <input type="submit" value="Arealyse" />
            }
        </div>*@
    <div id="divConfirmDialog" title="Arealyser">

    </div>
    <div id="selectMap" style="width: 600px; height: 600px">
    </div>
</div>



<script type="text/javascript">
    // cascading dropdown list for towns by county
    $("#County").change(function () {
        $("#TownID").empty();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTowns")',
            dataType: 'json',
            data: { county: $("#County").val() },
            success: function (townList) {

                $.each(townList, function (i, locale) {
                    $("#TownID").append('<option value ="'
                    + locale.TownId + '">'
                        + locale.Name + ' </option>');
                });
            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });
        return false;
    })


</script>

@section Map{
@*@Scripts.Render("~/Scripts/homeMaps.js")*@
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeZsRxVhJ__8kmVandHXR7UvI4kvGRzgs&callback=initMap"
            type="text/javascript">

    </script>

<script type="text/javascript">
    //declare a variable
    var markers = [];

    $.ajax({
        async: false,
        type: "POST",
        dataType: "json",
        url: '@Url.Action("GetMarkers", "Home")',
        data: '{}',
        success: function (result) {
            //get address from controller action.....
            markers = result.AddressResult;
        }

    });

    function initMap() {
        var myLatLong = { lat: 53.3498, lng: -6.2603 };
        var mapOptions = {
            center: myLatLong,
            zoom: 11,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var infoWindow = new google.maps.InfoWindow();
        var latlngbounds = new google.maps.LatLngBounds(new google.maps.LatLng(54.668922, -7.0100274), new google.maps.LatLng(55.121921664, -6.5620904));
        var map = new google.maps.Map(document.getElementById("selectMap"), mapOptions);
        setMarkers(map, markers);

    }

    function myFunction(e) {
        //var txt;
        //var lat = e.latLng.lat();
        //var lng = e.latLng.lng();
        alert(e);

        $.ajax({
            type: "GET",
            url: '@Url.Action("FindNearestTownId", "Analysis")',
            contentType: "application/json; charset=utf-8",
            data: { Id: e },
            dataType: "json",
            success: function () {
                alert("Success")
                window.location = Redirect.url;
            },
            error: function () {
                alert('error happened');
            }
        });
    }


    function setMarkers(map, markers) {

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var siteLatLng = new google.maps.LatLng(data.Latitude, data.Longitude);
            var marker = new google.maps.Marker({
                position: siteLatLng,
                map: map,
                title: data.Description,
                id: data.Id,
                icon: data.marker,
                animation: google.maps.Animation.DROP
            });

            var contentString = "Some content";

            google.maps.event.addListener(marker, "click", function (e) {
                //myFunction(this.id);
                window.location = '@Url.Action("Index", "Analysis")'+'?Id='+this.id;
                infowindow.setContent(this.title);
                infowindow.open(map, this);
            });
        }
    }

</script>
}
